body{
    font-family: "Trebuchet MS";
    margin: 5px; /*ne pas toucher merci*/
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height:100px;
    /* margin-bottom: 10px; */
    background-color: #1293ff;
    /* margin: 0px; */
}

header a{
    color: white;
    text-decoration: none;
}


header div a:hover {
    border-bottom: 2px white solid ;
    animation-name: animhover;
    animation-duration: 1s;
    /* animation-delay: 2s; */ 
}

/* Animation hover navbar */
@keyframes animhover {
    from {border-bottom-color: #1293ff;}
    to {border-bottom-color: white;}
  }

header div a {
    border-bottom: none;
}

.logo{
    margin: 5px;
}

.redtext{
    /* color: #ff1a1a; */
    color:white;
}

.redtext a{
    /* color: #ff1a1a; */
    color:white;
}

